
/* Reset de base très souvent utilisé  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* de base un BOXE-SIZING est défini sur'content-box' */
    /* Content-box : les tailles définis ne prennent pas en compte les marges et padding qui sont ensuite ajoutés  */
.box {
    box-sizing: content-box;
    background-color: teal;
    width: 300px;
    height: 50px;
    padding: 50px;
    border: 15px solid yellowgreen;
    margin: 50px;

}

span {
    /* On ne peut pas donner de dimension à des élément qui sont de base de type "INLINE" */
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    background: green;
    /* le padding foctionne mais ne vas PAS pousser les autres éléments  */
    padding: 25px 50px;
    /* Le margin fonctionne à Gauche et à Droite SEULEMENT */
    margin: 0 30px;
}