*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 75px;
}

form label{
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
input, textarea{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #2222224f ;
  margin-bottom: 15px;
}

.form-container{
  max-width: 666px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  padding: 20px;
}

.titre-container{
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

#btn-exo{
  background-color: rgb(49, 15, 220);
  color: cornsilk;
  border-radius: 5px;
  padding: 8px 60px;
  border: none;
  cursor: pointer;
}

input{
  height: 30px;
}
textarea{
  min-height: 65px;
}
input:focus, textarea:focus{
  outline: 1px solid #2222224f;
}
#btn-exo:hover{
  padding: 9px 61px;
  
}