*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
}

.flex-container {
  max-width: 600px;
  margin: 0 auto;
  height: 400px;
  background: wheat;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;

  /* justify-content : center, space-between, flex-end */
  /* justify-content: center; */

  /* align-items : center, flex-end, etc... */
  /* align-items: center; */

  /* flex-direction: column; */
  /* flex-direction: column; */
  
  /* flex-wrap: wrap, nowrap ( en fonction du flex-shrink) */
  flex-wrap: wrap;
  

  /* flex-flow: column wrap; */



  /* Gére l'écart entre les rangées/colonnes qui sont passées à la ligne */
  align-content: flex-start;
}

.flex-item {
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 5px;
  padding: 10px;
  font-size: 35px;
  color: #f1f1f1;
  font-weight: bold;
  /* FLEX-SHRINK 
  pour activer ou non le retour a la ligne si les items sortent du container (0/1)*/
  flex-shrink: 1 ;
}