*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  padding: 140px 0 100px;
}

.gallery{
  /* width: 1100px;
  margin: 0, auto; */
  display: grid;
  grid-column: repeat(4, 275px);
  grid-template-columns: repeat(auto-fit, 275px);
}
